<div class="h-full flex flex-col bg-bg-base p-4">
  <div class="mb-6">
    <h1 class="text-brand-green font-bold text-xl">Deezer</h1>
  </div>
  <p-panelMenu
    [model]="items"
    [pt]="{
      panel: { class: '!border-0 !bg-transparent' },
    }"
  ></p-panelMenu>
  <div class="mt-auto pt-4 w-full">
    <p-button
      class="w-full bg-brand-green text-black rounded-pill py-2 font-bold uppercase tracking-button"
      styleClass="w-full rounded-pill bg-brand-green"
    >
      Logout
    </p-button>
  </div>
</div>
