<div class="flex flex-col items-center gap-16 md:gap-y-24 pb-16">
  <h1 class="text-6xl font-bold">Artist Search</h1>
  <app-search-input></app-search-input>

  <!-- TODO: Use spinner -->
  @if (searchStore.isLoading()) {
    <p class="text-sm text-center">Searching ...</p>
  }

  @if (searchStore.errorMessage(); as message) {
    <p class="text-sm text-center text-red-400">{{ message }}</p>
  }

  @if (searchStore.hasResults()) {
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full min-w-75 md:min-w-125 lg:grid-cols-3 lg:px-32 md:px-16 px-6"
    >
      @for (artist of searchStore.artists(); track artist.id) {
        <app-search-results-card [artist]="artist"></app-search-results-card>
      }
    </div>
  }

  @if (searchStore.isEmptyState()) {
    <p class="text-sm text-center">No artists found.</p>
  }
</div>
